html, body{
  margin: 0;
  font-family: 'Pacifico', cursive;
  overflow-x: hidden;
}
a{
  cursor: pointer;
  padding: 7px;
  box-shadow: 0px 0px 5px 0px #262626;
}
.text-white{
  color: white;
}
.hidden{
  display: none;
}
.menu{
  display: none;
  right: 30px;
  position: absolute;
}
@media (min-width: 900px){
  .menu{
      display: block;
  }
}
.menuLink{
  color: #262626;
  font-size: 25px;
  text-decoration: none;
  padding: 0 15px;
  margin: 0 15px;
}
.menuLink:hover{
  color: #fff;
  background-color: #262626;
  border-radius: 15px;
}
.logo{
  color: #262626;
  font-size: 25px;
  text-decoration: none;
  padding: 0 15px;
  margin: 0 15px;
  cursor: pointer;
  box-shadow: none;
}
.flex{
  display: flex;
}
.header{
  padding: 15px;
  /* Домашка: Изменить размеры и цвет */
  box-shadow: 5px 5px 20px 2px rgb(155, 39, 155);
}
.centered{
  justify-content: center;
  align-content: center;
}
.w-full{
  width: 100%;
}
.w-half{
  width: 50%; 
  /* От родителя, а не от экрана */
}
.text-center{
  text-align: center;
}

.mb-50{
  margin-bottom: 50px;
}
.mb-15{
  margin-bottom: 15px;
}

.mb-500{
  margin-bottom: 500px !important;
}
.p-15{
  padding: 15px;
}
.ps-100{
  padding: 15px 20% 15px 20%;
}
.bg-dark{
  background-color: #262626;
}
.grid{
  /* Вопрос 1: Что здесь происходит?  */
  display: grid;
  /* Вопрос 1: Что здесь происходит?  */
  grid-template-columns: 1fr 6fr 3fr;
  /* Вопрос 1: Что здесь происходит?  */
  grid-template-rows: auto;
  /* Вопрос 1: Что здесь происходит?  */
  gap: 15px;
  align-items: center;
}

.kvadrat{
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  /* Вопрос 2: Что здесь происходит?  */
  position: absolute;
}
#cardBox{
  padding: 0 30%;
}
textarea{
  resize: none;
  padding: 7px;
  width: 85%;
}
.cardPrice{
  border: 1px solid black;
  border-radius: 30px;
  padding: 15px 30px;
}
.circle{
  background-color: skyblue;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
.postSection{ /* Для мобилки в первую очередь */
  display: grid;
  grid-template-columns: 1fr 30fr 1fr;
  grid-template-rows: auto;
  align-items: center;
}
/* Для других экранов */
@media (min-width: 900px) { /* if(width >= 900px){} */
  .postSection{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      align-items: center;
  }
}
.authorLine{
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto;
  gap: 5px;
  margin-bottom: 10px;
}
.avatarka{
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
.post{
  padding: 15px 0;
  background-color: lightskyblue;
}
.comment{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
  gap: 3px;
}

.carousel{
  position: absolute;
  width: 100%;
  height: 300px;
  left: 0;
  display: grid;
  grid-template-columns: 0fr 1fr 0fr;
  grid-template-rows: auto;
}
/* Для других экранов */
@media (min-width: 900px) { /* if(width >= 900px){} */
  .carousel{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      align-items: center;
  }
}
.iama{
  z-index: 0;
  background-color: white;
  height: 100%;
}
.gora{
  z-index: 10;
  background-color: white;
  height: 100%;
}
.postImgBox{
  height: 300px;
  z-index: 0;
}
.postImg{
  position: absolute;
  height: 300px;
  z-index: 5;
}
.leftBtn{
  position: absolute; 
  background-color: white;
  z-index: 20;
  color: black;
  margin-top: 120px;
}
.rightBtn{
  position: absolute;
  background-color: white;
  z-index: 20;
  color: black;
  margin-top: 120px;
}
.horiz-scroll{
  overflow-y: hidden;
  overflow-x: hidden;
}
.non-vertical-scroll{
  overflow-y: hidden;
}
.card-width{
  width: 272px;
}
.modalScreen {
  padding: 100px 25%;
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.modalBox{
  padding: 15px;
  width: 50%;
  background-color: white;
  box-shadow: 5px 5px 5px 5px black;
}

.blur-in {
  animation: blur 0.3s forwards;
}
@keyframes blur {
  0% {
    filter: blur(0px);
  }

  100% {
    filter: blur(4px);
  }
}